google-cloud-aiplatform[agent_engines,ag2]>=1.93
google-cloud-asset>=3.0
google-cloud-bigquery>=3.0
google-cloud-compute>=1.0
google-cloud-container>=2.0
google-cloud-run>=0.10.0
google-auth>=2.0
cryptography>=42.0
